.galleryContainer{
    white-space: nowrap;
    position: absolute;
    left: 222px;
    top: 108px;
}

a.ngx-gallery-thumbnail.ngx-gallery-active.ngx-gallery-clickable {
    border: 2px solid black;
}