.content {
    display: flex;
}

.outletContent {
    display: inline-block;
    position: absolute;
    padding-left: 200px;
    padding-top: 92px;
    top: 63px;
    font-size: 30px;
    height: 100%;
    width: 100%;
    z-index:10;
}

.header{
    display: inline-block;
    padding-bottom: 9px; 
    z-index: 20;
    white-space: nowrap;
}

.headerLinks {
    display: inline-block;
    vertical-align: top;       
    line-height: 91px;
}

.headerLink{
    margin-left: 17px;
    display: inline-block;
    vertical-align: middle;
}

.headerLink a{
    text-decoration: unset;
    font-size: 40px;
    color: #333333;
    margin-left:50px;
    margin-right:50px;    
}

.logoContainer{
    display: inline-block;
}

.logo {
    background-image: url('../content/images/logo2.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 185px;
    width: 198px;
}