<div class=bioContainer>
  <div class=bbooImg></div>
  <div class=bio>
      Born and raised in the Rocky Mountains, I grew up with a special love and appreciation for the outdoors. 
      I started working with wood when I was in my early teens, and quickly fell in love with all it’s unique 
      characteristics. I started welding ten years ago in my high school shop class and thought it was fascinating. 
      Because of that, I went on to receive a full education in welding and the technology behind it, receiving 
      many certifications along the way. I have always loved the combination of metal and wood, and love using both 
      materials to compliment one another. Working with my hands has always been something that gives me passion and 
      purpose. With that, quality and attention to detail are things I take seriously. Its been my dream to own my 
      own small business creating quality, first-rate items that will last a lifetime. 
  </div>
</div>