.addOnDescription{
    font-size: 12px;
}

.productContainer{
    background-color: #7f8e8bb0;
    color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    border-radius: 8px;
}

.productContainer select{
    border-radius: 4px;
    background-color: #27344180;
    color: white;
    padding: 6px;
}

.optionsContainer, .imageContainer{
    display: inline-block;
}

.addOnContainer, .optionsSubContainer, .productDescription{
    margin-left:10px;
}

.productContainer{
    font-size: 0px;
}

.productContainer > * {
    font-size: initial;
}

.productTitle {
    font-size: 25px;
}

.productImage{
    height:233px;
    margin-right:20px;
}

.productDescription{
    font-size: 12px;
    white-space: normal;
    width:300px;
    margin-bottom: 13px;
}