@font-face{
    font-family: mainFont;
    src: url('\content\fonts\Apalu.ttf'); 
}

html, body, app-root{
    height: 100%;
    margin: 0;
    font-family: mainFont;
    background-image: url('\content\images\forest.jpg');
    background-size: cover;
}