@font-face{
    font-family: yellowtail;
    src: url('\content\fonts\Yellowtail-Regular.ttf');
}

html, body, app-root{
    height: 100%;
    margin: 0;
    font-family: yellowtail;
    background-image: url('\content\images\wood.jpg');
    background-size: cover;
}