.bbooImg {
    background-image: url('../../content/images/bboo.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 385px;
    width: 385px;
    display:inline-block;
    vertical-align: middle;
}

.bio{
    display: inline-block;
    width: 700px;
    vertical-align: middle;
    white-space: initial;
    font-size: 19px;
}

.homeContainer{
    white-space: nowrap;
    position: absolute;
    left: 222px;
    top: 118px;
    background-color: #ffffff54;
    padding: 50px;
    border-radius: 8px;
}